/* 
==================================================
BLUE: #3247a0
BABY BLUE: #8299ff
DARK BLUE: #202d66
MAHOGANY/RED: #a03247
GRAY: #e6e6e6
LIGHT GRAY: #f9f9f9
BG GRAY: #343434
==================================================
*/

h1 {
    font-family: Candy, Impact, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.content {
	font-family: Luzro, Verdana, Geneva, sans-serif;
}

/* Background */
html {
	background: url(../assets/scott-webb-13581.jpg) no-repeat center center fixed, #343434;
	background-size: cover;
	z-index: 0;
	transition: background 5s linear;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

/* Diamond Thing */
.sidebar-main {
	position: absolute;
	background: #3247a0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 75%;
	height: 0;
	padding: 37.5% 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: auto;
	overflow: hidden;
	box-shadow: -10px -10px 25px #0b0b0b;
}
.sidebar-main:before {
    content: "";
	position: absolute;
	background: url(../assets/dots.png) repeat;
	-webkit-animation: dots 10s infinite linear;
    animation: dots 4s infinite linear;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 250%;
	height: 250%;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: auto;
}
@-webkit-keyframes dots {
from { background-position: 0px 0px; }
to { background-position: 0px -52px; }
}
@keyframes dots {
from { background-position: 0px 0px; }
to { background-position: 0px -52px; }
}
body {
	overflow: hidden;
}
*/

/* Index Header */
.sidebar-main + h1 {
    position: absolute;
	width: 100%;
	color: #e6e6e6;
	background: none;
	-ms-transform: translateY(25vh);
	-webkit-transform: translateY(25vh);
	transform: translateY(25vh);
	margin: auto;
	font-size: 1200%;
	text-align: center;
}
h1 + .content {
    position: inherit;
	width: 50%;
	color: #e6e6e6;
	background: none;
	-ms-transform: translate(50vh);
	-webkit-transform: translateY(50vh);
	transform: translateY(53vh);
	margin: auto;
	padding-top: 10px;
	font-size: 150%;
	text-align: center;
}
.startbutton {
    position: inherit;
	width: 8%;
	color: #8299ff;
	border: 5px solid #8299ff;
	border-radius: 20px;
	background: none;
	-ms-transform: translate(50vh);
	-webkit-transform: translateY(50vh);
	transform: translateY(53vh);
	padding: 5px;
	font-size: 150%;
	font-family: Luzro, Verdana, Geneva, sans-serif;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 1s ease-in-out;
	text-decoration: none !important;
}
.startbutton:hover {
    position: inherit;
	width: 8%;
	color: #fff;
	border: 5px solid #fff;
	border-radius: 20px;
	background: none;
	-ms-transform: translate(50vh);
	-webkit-transform: translateY(50vh);
	transform: translateY(53vh);
	padding: 5px;
	font-size: 150%;
	font-family: Luzro, Verdana, Geneva, sans-serif;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	-webkit-transition: all 0.5s ease-in-out;
    transition: all 1s ease-in-out;
}
.startbutton a:active, a:hover, a:link, a:visited{
	text-decoration: none !important;
}

