/* 
==================================================
BLUE: #3247a0
BABY BLUE: #8299ff
DARK BLUE: #202d66
MAHOGANY/RED: #a03247
GRAY: #e6e6e6
LIGHT GRAY: #f9f9f9
BG GRAY & Text: #343434
==================================================
*/

h1 {
    font-family: Candy, Impact, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.content {
	font-family: Luzro, Verdana, Geneva, sans-serif;
}

/* Background */
html {
	background: url(assets/scott-webb-13581.jpg) no-repeat center center fixed, #343434;
	background-size: cover;
	z-index: 0;
	transition: background 5s linear;
}
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}



/*@supports not (grid-area: auto) {*/
	/* Header, Body, and Footer */
	header {
		position: absolute;
		z-index: 99999;
		left: 25%;
		right: 25%;
		top: 0;
		width: auto;
		text-align: center;
	}
	.header-logo {
		color: #f9f9f9;
		font-family: Candy, Impact, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 500%;
		text-shadow: 0px 0px 4px #000;
		text-decoration: none;
	}
	.header-logo a, .header-logo a:active, .header-logo a:hover, .header-logo a:visited {
		color: #f9f9f9;
		text-decoration: none;
	}
	.seperator {
		height: 2px;
		background-image: radial-gradient(18vw, #f9f9f9, rgba(0,0,0,0)), radial-gradient(18vw, #f9f9f9, rgba(0,0,0,0));
		background-position: 0, 0, 0, 100%;
	}
	body {
		min-height: 100%;
		padding-bottom: 5%;
	}
	footer {
		position: absolute;
		width: 100vw;
		min-height: 5%;
		bottom: 0;
	}
	.footer-content {
		width: 100%;
		height: auto;
		color: #8299ff;
		font-family: Luzro, Verdana, Geneva, sans-serif;
		font-size: 120%;
		text-align: center;
		/*text-shadow: 0px 0px 4px #000;*/
		margin-top: 2%;
		/*border-top: solid 1px #fff;*/
	}
	.footer-content a, .footer-content a:visited {
		color: #8299ff;
		text-decoration: none;
	}
	.footer-content a:hover, .footer-content a:active {
		color: #a03247;
		text-decoration: none;
	}
	
	/* In case page needs proper scrolling */
	html + .overflow {
		margin: 0;
		padding: 0;
		height: 100%;
		min-height: 100%;
		position: relative;
	}
	header + .overflow {
		height: 20%;
	}
	body + .overflow{
		margin: 0;
		padding: 0;
		height: 100%;
		min-height: 100%;
		padding-top: 20%;
		padding-bottom: 5%;
	}
	footer + .overflow{
		position: absolute;
		width: 100vw;
		min-height: 5%;
		bottom: 0;
	}
	
	/* Projects - Bottom Box */
	.projectinfo-container{
		position: absolute;
		overflow-y: scroll;
		background: #f9f9f9;
		left: 0;
		right: 0;
		bottom: 5%;
		height: 34vh;
	}
	.projectinfo-title{
		position: fixed;
		z-index: 100;
		width: 100vw;
		background: #000;
		color: #fff;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		border-top: solid 4px #f9f9f9;
		bottom: 39vh;
		box-shadow: 0px 6px 12px -6px #1a1a1a;
	}
	.projectinfo-content{
		display: block;
		font-family: LUZRO, Verdana, Geneva, sans-serif;
		font-size: 28px;
		color: #343434;
		text-align: center;
		padding: 20px 10px 20px 20px;
	}
	.projectinfo-container-dummy{
		position: absolute;
		overflow-y: scroll;
		background: #f9f9f9;
		left: 0;
		right: 0;
		bottom: 5%;
		height: 34vh;
	}
	.projectinfo-title-dummy{
		position: fixed;
		z-index: 100;
		width: 100vw;
		background: #000;
		color: #050814;
		font-family: Verdana, Geneva, sans-serif;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
		bottom: 39vh;
		border-top: solid 4px #f9f9f9;
		box-shadow: 0px 6px 12px -6px #1a1a1a;
	}
	
	/* Projects - Backgrounds */
	.projectinfo-img{
		position: fixed;
		display: none;
		width: 180%;
		height: auto;
		min-height: 59vh;
		bottom: 42vh ;
	}
	
	/* Projects - Buttons */
	.pbutton{
		position: relative;
		z-index: 99;
		top: 0;
		background: #000;
		opacity: 0.15;
		border: none;
		color: #fff;
		width: 10%;
		height: 59vh;
		font-family: Luzro, Verdana, Geneva, sans-serif;
		font-size: 250%;
		-webkit-transition: all 1s linear;
		transition: all 1s linear;
	}
	.pbutton:hover{
		position: relative;
		z-index: 99;
		top: 0;
		background: #000;
		opacity: 0.65;
		border: none;
		color: #fff;
		width: 10%;
		height: 59vh;
		font-family: Luzro, Verdana, Geneva, sans-serif;
		font-size: 250%;
		-webkit-transition: all 0.25s linear;
		transition: all 0.25s linear;
	}
	.pbutton:active{
		position: relative;
		z-index: 99;
		top: 0;
		background: #fff;
		opacity: 0.65;
		border: none;
		color: #000;
		width: 9%;
		height: 59vh;
		font-family: Luzro, Verdana, Geneva, sans-serif;
		font-size: 250%;
		-webkit-transition: all 0.03s linear;
		transition: all 0.03s linear;
	}
	.button-display-left {
		left: 0;
	}
	.button-display-right {
		float: right;
		right: 0;
	}
	
	/* Random Box Elements */
	.box1 {
		display: block; 
		background: #f9f9f9;
		min-height: 10vh;
		font-family: Luzro, Verdana, Geneva, sans-serif; 
		color: #343434;
		text-align: center;
		font-size: 18px;
		border-bottom: solid 8px #3247a0;
		border-radius: 7px 7px 0 0;
	}
	.box1-header {
		background: #3247a0;
		color: #8299ff;
		text-align: center;
		font-size: 30px;
		font-family: Candy, Impact, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		padding: 8px 8px 8px 8px;
		border-radius: 5px 5px 0 0;
		top: -5px;
	}
/*}*/